{% extends "CLChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = null %}

{% block personcontent %}
    <h2>{{ 'views.appointment.appointment_creation' | trans }}</h2>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('appointment') }}">
            {{ 'views.appointment.back_to_the_appointments_list' | trans }}
        </a>
    </li>
</ul>
{% endblock %}